/*
BoxLite

BoxLite AI platform API Docs

API version: 1.0
Contact: support@boxlite.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package apiclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type RatchetjqAPI interface {

	/*
	ClaimRatchetJQJobs Claim RatchetJQ jobs

	Long poll for the jobs this runner may run now. Returns as soon as any are available, otherwise blocks until the next job falls due, for at most 60 seconds. Claiming takes ownership: it advances the jobs it returns and moves their leases.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return RatchetjqAPIClaimRatchetJQJobsRequest
	*/
	ClaimRatchetJQJobs(ctx context.Context) RatchetjqAPIClaimRatchetJQJobsRequest

	// ClaimRatchetJQJobsExecute executes the request
	//  @return ClaimRatchetJQJobsResponse
	ClaimRatchetJQJobsExecute(r RatchetjqAPIClaimRatchetJQJobsRequest) (*ClaimRatchetJQJobsResponse, *http.Response, error)

	/*
	ReportRatchetJQJob Report a RatchetJQ job outcome

	Hand back what this runner produced for a job it claimed, or the error that stopped it. The outcome is recorded, an accept round is started for it, and the response comes as that round starts rather than when it decides — the verdict is the control plane’s to act on. A run nobody finished is still not reported: its lease is what redelivers it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param jobId ID of the claimed job the outcome belongs to
	@return RatchetjqAPIReportRatchetJQJobRequest
	*/
	ReportRatchetJQJob(ctx context.Context, jobId string) RatchetjqAPIReportRatchetJQJobRequest

	// ReportRatchetJQJobExecute executes the request
	//  @return ReportRatchetJQJobResponse
	ReportRatchetJQJobExecute(r RatchetjqAPIReportRatchetJQJobRequest) (*ReportRatchetJQJobResponse, *http.Response, error)
}

// RatchetjqAPIService RatchetjqAPI service
type RatchetjqAPIService service

type RatchetjqAPIClaimRatchetJQJobsRequest struct {
	ctx context.Context
	ApiService RatchetjqAPI
	claimRatchetJQJobsRequest *ClaimRatchetJQJobsRequest
}

func (r RatchetjqAPIClaimRatchetJQJobsRequest) ClaimRatchetJQJobsRequest(claimRatchetJQJobsRequest ClaimRatchetJQJobsRequest) RatchetjqAPIClaimRatchetJQJobsRequest {
	r.claimRatchetJQJobsRequest = &claimRatchetJQJobsRequest
	return r
}

func (r RatchetjqAPIClaimRatchetJQJobsRequest) Execute() (*ClaimRatchetJQJobsResponse, *http.Response, error) {
	return r.ApiService.ClaimRatchetJQJobsExecute(r)
}

/*
ClaimRatchetJQJobs Claim RatchetJQ jobs

Long poll for the jobs this runner may run now. Returns as soon as any are available, otherwise blocks until the next job falls due, for at most 60 seconds. Claiming takes ownership: it advances the jobs it returns and moves their leases.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return RatchetjqAPIClaimRatchetJQJobsRequest
*/
func (a *RatchetjqAPIService) ClaimRatchetJQJobs(ctx context.Context) RatchetjqAPIClaimRatchetJQJobsRequest {
	return RatchetjqAPIClaimRatchetJQJobsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ClaimRatchetJQJobsResponse
func (a *RatchetjqAPIService) ClaimRatchetJQJobsExecute(r RatchetjqAPIClaimRatchetJQJobsRequest) (*ClaimRatchetJQJobsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ClaimRatchetJQJobsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RatchetjqAPIService.ClaimRatchetJQJobs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ratchetjq/jobs/claim"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.claimRatchetJQJobsRequest == nil {
		return localVarReturnValue, nil, reportError("claimRatchetJQJobsRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.claimRatchetJQJobsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RatchetjqAPIReportRatchetJQJobRequest struct {
	ctx context.Context
	ApiService RatchetjqAPI
	jobId string
	reportRatchetJQJobRequest *ReportRatchetJQJobRequest
}

func (r RatchetjqAPIReportRatchetJQJobRequest) ReportRatchetJQJobRequest(reportRatchetJQJobRequest ReportRatchetJQJobRequest) RatchetjqAPIReportRatchetJQJobRequest {
	r.reportRatchetJQJobRequest = &reportRatchetJQJobRequest
	return r
}

func (r RatchetjqAPIReportRatchetJQJobRequest) Execute() (*ReportRatchetJQJobResponse, *http.Response, error) {
	return r.ApiService.ReportRatchetJQJobExecute(r)
}

/*
ReportRatchetJQJob Report a RatchetJQ job outcome

Hand back what this runner produced for a job it claimed, or the error that stopped it. The outcome is recorded, an accept round is started for it, and the response comes as that round starts rather than when it decides — the verdict is the control plane’s to act on. A run nobody finished is still not reported: its lease is what redelivers it.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param jobId ID of the claimed job the outcome belongs to
 @return RatchetjqAPIReportRatchetJQJobRequest
*/
func (a *RatchetjqAPIService) ReportRatchetJQJob(ctx context.Context, jobId string) RatchetjqAPIReportRatchetJQJobRequest {
	return RatchetjqAPIReportRatchetJQJobRequest{
		ApiService: a,
		ctx: ctx,
		jobId: jobId,
	}
}

// Execute executes the request
//  @return ReportRatchetJQJobResponse
func (a *RatchetjqAPIService) ReportRatchetJQJobExecute(r RatchetjqAPIReportRatchetJQJobRequest) (*ReportRatchetJQJobResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ReportRatchetJQJobResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RatchetjqAPIService.ReportRatchetJQJob")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ratchetjq/jobs/{jobId}/report"
	localVarPath = strings.Replace(localVarPath, "{"+"jobId"+"}", url.PathEscape(parameterValueToString(r.jobId, "jobId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.reportRatchetJQJobRequest == nil {
		return localVarReturnValue, nil, reportError("reportRatchetJQJobRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.reportRatchetJQJobRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
